body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #3ca3e771;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 75px;
  text-align: center;
  color: #353b48;
}
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  text-align: center;
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  font-family: "Josefin Sans", sans-serif;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #3ca3e771;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #3ca3e771;
}
button{
  background-color: #3ca3e771;
}
.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #353b48;
}
.card-body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  text-align: center;
}
.weatherBox {
  background: #3ca3e700;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 200px;
}
.box_body {
  width: 150px;
  height: 200px;
  display: block;
  background: white;
  border-radius: 10px;
  margin: 7px;
}
.item {
  float: left;
  position: relative;
  left: 15px;
  top: 25px;
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 650px) {
  body, html{
    background-color: red;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 700px;
  }
  .content{
    display: flex;
    justify-content: center;
    height: 60px;
  }

}
